<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3"
  >
  
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">BingoWeb</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li *ngIf=" isUserAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/games']"
              >Register Game </a
            >
          </li>
          <li *ngIf=" isUserAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/room-admin-game']"
              >Admin Room Game</a
            >
          </li>
          <li *ngIf="btnlogin" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"
              >Login</a
            >
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div *ngIf=" isUserAuthenticated()">
          <button class="btn btn-outline-light my-2 my-sm-0" (click)="logOut()">Logout</button>
        </div>
      </form>
    </div>
  </nav>
</header>
