<h1>Games</h1>
<div class="form">
  <div class="mb-5">
    <label for="Name">Name:</label>
    <input class="form-control" type="text" placeholder="Enter name" [(ngModel)]="game.name">
      <label for="link">Link:</label>
      <input class="form-control" type="text" placeholder="Enter link" [(ngModel)]="game.link">
      <label for="name">Status:</label>
       <input class="form-control" type="checkbox" [(ngModel)]="game.status">
      <div>
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-danger" (click)="generateLink()">GenerateLink</button>
    </div>
  </div>
</div>

<table class='table table-striped mt-2'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Link</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.id }}</td>
        <td>{{ game.name}}</td>
        <td><a href="{{game.link}}" target="_blank">{{game.link}}</a></td>
        <td><input class="form-control" disabled="true" type="checkbox" [(ngModel)]="game.status"></td>
        <td>
          <div *ngIf="!game.confirmation">
            <button class="btn btn-warning mr-2" (click)="edit(game)">Edit</button>
            <button class="btn btn-danger" (click)="game.confirmation = true">Delete</button>
          </div>
          <div *ngIf="game.confirmation">
            <button class="btn btn-danger mr-2" (click)="game.confirmation = false">Cancel</button>
            <br>
            <button class="btn btn-success" (click)="deleteGame(game)">Confirm</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>