
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>
        </div>
        <div class="card-body">
          <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
             <div *ngIf="invalidLogin" class="alert alert-danger">Invalid email or password</div>
             <br>
             <label for="email" class="sr-only">Email Address</label>
             <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Username" required autofocus>
             <br>
             <label for="password" class="sr-only">Password</label>
             <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
             <br>
             <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          
          </form>
            
        </div>
        <div class="card-footer">
           <span class="label label-dark">Online Bingo</span>
        </div>
      </div>
    </div>
  