.container{
    height: 100%;
    align-content: center;
    position: absolute;
    left: 80px;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .form{
      text-align: center;
      position: relative;
      margin:40px;
    
    }
    
    .lab{
    font-weight: bold;
    font-size: 20px;
   
    }
    
    .label{
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-left: 190px;
    }
    
    
    
    