#bola{
    font-size:50px;
    display:block;
    margin: 20px auto;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    background-color: #000;
    color: #FFF;
    text-align:center;
  }
.btn{
    width: 4rem;
    border-radius: 50%;
    color: #FFF;
  }