  <div class="row">
    <div class="col-md-4">
         <div style="background-color: black;color: white;">Lista de jugadores por Partida</div>
    </div>
    <div class="col-md-4">
        <button (click)="getBall()">SACAR BOLA</button>
        <div id="bola">
        <input class="btn" type="button" [(ngModel)]="ball.number">
      </div>
     </div>
    <div class="col-md-4"></div>
  </div>

  