<div class="row">
     <div class="col-md-12">
        <div class="card" *ngIf="FirstForm">
            <img src="https://fra1.digitaloceanspaces.com/fairlands-school-assets/system/assets/uploads/000/000/371/original/welcome.jpg?1585859530" class="card-img-top" height="220" alt="...">
            <div class="card-body">
              <h5 class="card-title">Usted esta Ingresado ala partida :{{idMesa}}</h5>
              <p class="card-text">Para continuar se requiere validar el status actual de la partidad por favor proceda a dar click sobre el mismo.</p>
              <button class="btn btn-success" (click)="checkGame()">Validar Status</button>
            </div>
             <div *ngIf="showForm">
                <form class="form-signin" #loginForm="ngForm" (ngSubmit)="saveRoom(loginForm)">
                    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid email or password</div>
                    <br>
                    <label for="email" class="text-dark">Nombre Jugador</label>
                    <input type="text" id="name" name="name" ngModel class="form-control" placeholder="Name" required autofocus>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Unirse</button>
                 </form>
             </div>
          </div>
           <div class="card" *ngIf="SecondForm">
            <div class="card-body">
                  <div class="row">
                       <div id="cardplayer" class="col-md-6">
                           Nombre del jugador: {{userTemp}}
                       </div>
                       <div id="cardball" class="col-md-6">
                           Bola en juego:
                       </div>
                  </div>
                   <div class="row">
                          <div class="col-md-12"> aqui agregar el carton  ejemplo puede crear un carton a partir de un array</div>
                   </div>
            </div>
           </div>
     </div>
</div>